<footer>
    <div class="footer_container">
        <div class="info">
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="name">
            &#169;  WanderLust Private Limited
        </div>
        <div class="footer-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>

    </div>
</footer>