<% layout('/layout/boilerplate') -%>

<div class="row">
    <div class="col-6 offset-3">
        <h1>SignUp on Wanderlust</h1>
        <form action="/signup" method="post" novalidate class="needs-validation">
            <div class="mb-3 mt-3">
                <label class="form-label" for="username">username</label>
                <input required class="form-control" type="text" name="username" id="username">
            </div>
            <div class="mb-3 mt-3">
                <label class="form-label" for="email">email</label>
                <input required class="form-control" type="email" name="email" id="email">
            </div>
            <div class="mb-3 mt-3">
                <label class="form-label" for="password">password</label>
                <input required class="form-control" type="password" name="password" id="password">
            </div>
            <div class="mb-3 mt-3">
                <button class="btn btn-success">Signup</button>
            </div>
            
        </form> 
    </div>
</div>